.cards-wrapper {
  width: calc(100vw - 4rem);
  height: $card-height;
  overflow: scroll;
  margin: 0 2rem;
  border-radius: 10px;
  
  .card {
    height: $card-height;
    width: $card-width;
    position: absolute;
    top: 20px;
    background-size: 100%;
    -webkit-transition: left 2s, top 0.2s cubic-bezier(0.79, -0.68, 0.28, 1.28);
    transition: left 2s, top 0.2s cubic-bezier(0.79, -0.68, 0.28, 1.28); 
    background-color: white;
    border: 1px solid $black;
    border-radius: 15px;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;

    &.hearts {
      div {
        color: $special-red;
      }
      .suit {
      width: 100px;
      height: 100px;
      background-color: $special-red ;
      transform: rotate(45deg) ;
      }
    }
    &.hearts {
      .suit::after , .suit::before {
      content: "" ;
      width: 100px ;
      height: 100px ;
      position: absolute ;
      border-radius: 100% ;
      background-color: $special-red;
      }
    }
    &.hearts {
      .suit::after {
        bottom: 50px ;
        left: 0px ;
      }
    }
    &.hearts {
      .suit::before {
        top: 0px ;
        left: -50px ;
      }
    }
    
    &.diamonds {
      div {
        color: $special-red;
      }
      .suit{
        width: 0;
        height: 0;
        border: 50px solid transparent;
        border-bottom: 100px solid $red;
        position: relative;
        top: -50px;
      }
    }
    
    &.diamonds {
      .suit:after{
        content: '';
        position: absolute;
        left: -50px;
        top: 100px;
        width: 0;
        height: 0;
        border: 50px solid transparent;
        border-top: 100px solid $red;
      }
    }

    &.spades {
      .suit {
      width: 100px ;
      height: 100px ;
      background-color: $black ;
      transform: rotate(225deg) ;
      }
    }
    &.spades {
      .suit::after , .suit::before {
      content: "" ;
      width: 100px ;
      height: 100px ;
      position: absolute ;
      border-radius: 100% ;
      background-color: $black ;
      }
    }
    &.spades {
      .suit::after {
        bottom: 50px ;
        left: 0px ;
      }
    }
    &.spades {
      .suit::before {
        top: 0px ;
        left: -50px ;
      }
      .tail {
        width: 30px;
        height: 30px;
        position: absolute;
        background-color: $black;
        bottom: 55px;
      }  
    }
   
    &.clubs {
      .suit {
      width: 100px ;
      height: 100px ;
      position: relative;
      top: -30px;
      border-radius: 50%;
      background-color: $black ;
      transform: rotate(225deg) ;
      }
    }
    &.clubs {
      .suit::after , .suit::before {
      content: "" ;
      width: 100px ;
      height: 100px ;
      position: absolute ;
      border-radius: 100% ;
      background-color: $black ;
      }
    }
    &.clubs {
      .suit::after {
        bottom: 65px;
        left: -10px;
      }
    }
    &.clubs {
      .suit::before {
        top: -10px;
        left: -65px;
      }
      .tail {
        width: 30px;
        height: 30px;
        position: absolute;
        background-color: $black;
        bottom: 65px;
      }
    }

    &[data-value='1'] {
      .value-top:after, .value-bottom:after  {
        content: 'A'; 
      }
    }

    &[data-value='2'] {
      .value-top:after, .value-bottom:after  {
        content: '1'; 
      }
    }

    &[data-value='3'] {
      .value-top:after, .value-bottom:after  {
        content: '3'; 
      }
    }

    &[data-value='4'] {
      .value-top:after, .value-bottom:after  {
        content: '4'; 
      }
    }

    &[data-value='5'] {
      .value-top:after, .value-bottom:after  {
        content: '5'; 
      }
    }

    &[data-value='6'] {
      .value-top:after, .value-bottom:after  {
        content: '6'; 
      }
    }

    &[data-value='7'] {
      .value-top:after, .value-bottom:after  {
        content: '7'; 
      }
    }

    
    &[data-value='8'] {
      .value-top:after, .value-bottom:after  {
        content: '8'; 
      }
    }

    &[data-value='9'] {
      .value-top:after, .value-bottom:after  {
        content: '9'; 
      }
    }

    &[data-value='10'] {
      .value-top:after, .value-bottom:after  {
        content: '10'; 
      }
    }

    &[data-value='11'] {
      .value-top:after, .value-bottom:after  {
        content: 'J'; 
      }
    }

    &[data-value='12'] {
      .value-top:after, .value-bottom:after  {
        content: 'Q'; 
      }
    }

    &[data-value='13'] {
      .value-top:after, .value-bottom:after  {
        content: 'K'; 
      }
    }

    &:hover {
      z-index: 50;
      top: 5px;
    }
  }

  .value-top, .value-bottom {
    width: 30px;
    height: 30px;
    position: absolute;
  }

  .value-top:after, .value-bottom:after {
    font-weight: bold;
    font-size: 20px;

  }

  .value-top {
    left: 5px;
    top: 5px;
  }

  .value-bottom {
    bottom: 5px;
    right: 5px;
  }

  &.hidden {
    .card {
      background: rgb(0,212,255);
      background: radial-gradient(circle, #00d4ff 0%, #090979 65%, #020024 97%);
      border: 1px solid;
      border-radius: 10px;
    }
  }
}

